h1 {font-size: 14px; line-height: 14px;}
h2 {font-size: 13px; line-height: 13px;}
h3,h4,h4,h5 {font-size: 12px; line-height: 12px;}
* {border: none;}
a{color:#000;}
table {max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0;}
.coffe-background1{background: url("../img/index.png") repeat #aeaeae;}
.coffe-background2{background: #ebebeb;}
.coffe-module-wrapper{ padding: 5px; }
.indent{ margin-left: 20px;}
body{padding: 0; margin: 0; font-size: 12px;}

ul.list-none{
    list-style: none;
}


/* Module
********************************************************************************/

#coffe-module-head .frame-head-menu {
    margin-bottom: 20px;
}
#coffe-module-head .title {
    padding:3px;
    height: 20px;
    padding-left: 5px;
}

#coffe-module-head .update-frame{
    float:left;
    cursor: pointer;
}

#coffe-module-content{
    overflow: hidden;
}

#coffe-module-content-inner{
    overflow: auto;
    height: 100%;
    width: 100%;
}

#coffe-module-menu ul{
    display: block;
}
#coffe-module-menu ul li {
    display:block;
    float: left;
    margin-right: 10px;
}

#coffe-module-menu {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
}

#coffe-module-menu .btn, .tableeditor-buttons .btn{
    margin-right: 5px;
}

#coffe-module-content-inner-inner{
    padding: 10px;
}

#coffe-module-head-inner{
    background: none repeat scroll 0 0 #F7F7F7;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

#coffe-module-head-inner h1, #coffe-module-head-inner h2, #coffe-module-head-inner h3{
    font-weight: normal;
    text-align: center;
    margin: 0;
}

#coffe-module-head-inner a, #coffe-module-head-inner a:hover{
    text-decoration: none;
}



/* Coffe form
*************************************************************************************/

.coffe-form-body{
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    background: #f4f4f4;
}

.coffe-form-block{
    position: relative;
}

.coffe-form-block .element-wrapper{
    margin-bottom: 10px;
}
.coffe-form-block .element-wrapper-left{
    float: left;
    margin-right: 20px;
}
.coffe-form-block label{
    display: block;
}

.coffe-form-error{
    color: #e53b1f;
}
.label-inline-left{
    float: left;
    margin-right: 5px;
}
.coffe-form-block .coffe-form-tabs-menu{
    margin-left: 2px;
    display: block;
    position: relative;;
    z-index: 10;
}
.coffe-form-block .coffe-form-tabs-menu ul{
    margin: 0;
}
.coffe-form-block .coffe-form-tabs-menu li{
    display: block;
    float:left;
    height: 20px;
    margin-right: 2px;
    cursor: pointer;
    background: #d1d1d1;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #585858;
    padding: 4px 7px;
    border: 1px solid #d6d6d6;
    border-bottom: none;
}

.coffe-form-block .coffe-form-tabs-menu li.active{
    background: #F4F4F4;
    color: #000;
}


/* Component
**********************************/

.coffe-component{
    margin-bottom: 10px;
    cursor: pointer;
}

.coffe-component .component-title{
    font-weight: bold;
}

.coffe-component{
    border: 1px solid #d0d0d0;
    background: #fff;
    padding: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.coffe-component .component-icon{
    float: left;
    width: 40px;
}
.component-description{
    padding-left: 60px;
}

.page-component{
    margin-bottom: 10px;
    padding: 5px;
    cursor: default;
}
.page-component .name{
    color: #7e7e7e;
}

.page-component .title{
    font-weight: bold;
}

.page-component .icons-block a{
    text-decoration: none;
}


/* Element tree
****************************************************/
.coffe-db-tree span.item{display: block; width: 20px; height: 16px; position: absolute; left:0; top: 0;}
.coffe-db-tree span.minus{background:url('/coffe/admin/icons/tree/minus.gif') 5px 2px no-repeat;}
.coffe-db-tree span.plus{background:url('/coffe/admin/icons/tree/plus.gif') 5px 2px no-repeat;}
.coffe-db-tree .children {line-height: 16px;}
.coffe-db-tree, .coffe-db-tree a{color: #303030;}
.coffe-db-tree a{text-decoration: none;}
.coffe-db-tree a:hover{text-decoration: underline;}
.coffe-db-tree .item {cursor: pointer;}
.coffe-db-tree .tree-line{position: relative;}
.coffe-db-tree .children .tree-line{padding-left: 20px;}